<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizzy</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Dizzy Ballin Out of Control</h1>
   
    <form action="/quotes" method="POST">
        <input type="text" placeholder="playerName" name="playerName">
        <input type="text" placeholder="deathX" name="deathX">
        <input type="text" placeholder="deathY" name="deathY">
        <input type="text" placeholder="pooface" name="pooface">
        <button type="submit">Submit</button>
    </form>

    <h2>Deaths</h2>

    <div>
        <button id="update-button">Update Something</button>
      </div>

    <div>
        <button id="delete-button">Delete Something</button>
    </div>

    <div id="message"></div>

    <!-- <ul class="quotes">
        <% for(let i=0; i < quotes.length; i++) {%>
            <li class="quote">
                <span><%= quotes[i].name %></span>:
                <span><%= quotes[i].quote %></span>
            </li>
        <%} %>
    </ul> -->

    <script src="/main.js"></script>
</body>
</html>

<!-- Player name
Sector Number
Coord X
Coord Y
Death Time
Victory Time

Seed
Ladder ID
Ladder finish Time

Weight?? -->